body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.header {
  background-color: #4554b6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo img {
  max-height: 100px;
  margin: 10px;
}

.search img {
  max-height: 50px;
  margin: 10px;
}

.nav {
  min-height: 50px;
  font-size: 1.4rem;
  text-align: right;
  height: 50px;
  line-height: 50px;
}

.link:hover {
  color: aquamarine;
}

.link {
  text-decoration: none;
  color: white;
  padding: 0 1.5em;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 0.75em 0;
}

.text {
  text-align: justify;
}

.container {
  width: auto;
  margin: 1.75rem auto;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: right;
  padding: 10px;
}


.main-title {
  font-size: 2.5rem;
  color: #ec9ea7;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  animation: neonGlow 5s ease-in-out infinite;
}

@keyframes neonGlow {
  0% {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }

  50% {
    text-shadow: 3px 3px 10px #ff6600, -3px -3px 10px #ff6600;
  }

  100% {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
}

.unique-title:hover {
  animation: none;
  text-shadow: 3px 3px 10px #ff6600, -3px -3px 10px #ff6600;
}


.container {
  display: flex;
  margin: 5px;
}

.divMainLeft {
  flex: 0 0 5%;
}

.divMainRight {
  flex: 0 0 93%;
  background-color: #e74c3c;
}


.leftSideitemButtonsDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leftSideButton {
  border: none;
  color: rgb(3, 22, 165);
  padding: 15px 10px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  width: 100px;
  height: auto;
  margin: 1px 1px;
}

.leftSideButton:hover {
  font-weight: bold;
}

.content-container {
  text-align: center;
}

.containerRightDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.item {
  flex: 1;
  max-width: calc(25% - 10px); /* 25% ширины с отступами между элементами */
  margin: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  text-align: center;
}

.itemImage {
  position: relative;
  width:  100%;
  padding-bottom: 50%;
}

.itemImage img{
  object-fit: contain;
  position: absolute;
  width:  100%;
  height: 100%;
  top: 0;
  left: 0;
}