body {
    margin: 0; /* Убираем отступы по умолчанию для body */
    padding: 0; /* Убираем внутренние отступы по умолчанию для body */
}

.left-panel {
    position: fixed; /* Фиксированная позиция */
    top: 0;
    left: 0;
    height: 100%; /* 100% высоты экрана */
    width: 200px; /* Ширина вашей левой панели */
    background-color: #333; /* Цвет фона вашей левой панели */
    color: #f60a0a; /* Цвет текста */
}
