body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  min-height: 100vh;
  background-color: #232D3F;
}

main {
  flex-grow: 1;
}

.header {

  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 10px 20px;
font-family: Arial, Helvetica, sans-serif;
}

.logo img {
  max-height: 100px;
  margin-left: 80px;
}

.search img {
  max-height: 50px;
  margin: 10px;
}

.nav {
  min-height: 50px;
  font-size: 1.4rem;
  text-align: right;
  height: 50px;
  line-height: 50px;
}

.link:hover {
  /* color: rgb(255, 255, 0); */
  text-decoration: underline;
}

.linkFooter {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0 1.5em;
}

.link {
  text-decoration: none;
  color: white;
;
  padding: 0 1.5em;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 0.75em 0;
}

.titlesPagesMain {
  text-align: left;
  font-size: 2rem;
  margin: 0.75em 0;
  color: aquamarine;
}

.text {
  text-align: justify;
}

.container {
  width: 100%;
  display:flex;
  margin-top: 1%;
}

.footer {
  background-color: #000000;
  color: #fff;
  text-align: right;
  padding: 10px;
}

.divMainLeft {
  flex: 0 0 5%;
}

.divMainRight {
  width: 100%;
}

.leftSideitemButtonsDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leftSideButton {
  border: none;
  color: #ffffff;
  padding: 15px 10px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  width: 100px;
  height: auto;
  margin: 1px 1px;
}

.leftSideButton:hover {
  font-weight: bold;
}

.content-container {
  text-align: center;
}

.containerRightDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1%;

}

.item {
  flex: 1;
  max-width: calc(25% - 10px);
  margin: 1%;
  box-shadow: 4px 8px 5px 0 rgba(0, 0, 0, .5);

}

img {
  max-width: 100%;
  height: auto;
}

p {
  text-align: center;
}

.itemImage {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.itemImage img {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3%;
  left: 0;
}

.theNewsInput {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 20px;
  align-items: center;
  font-size: 20px;
  background: #e3e3e3;
  box-shadow: 4px 8px 5px 0 rgba(0, 0, 0, .5);
}

.newsRowText {
  padding: 20px 20px;
  color: rgb(1, 31, 7);
}

.leftNewsDiv {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  background-color: #ed5565;
  color: white;
}

/* about us */


.containerRightDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.item {
  flex: 1;
  max-width: calc(25% - 10px);
  margin: 10px;
  box-shadow: 4px 8px 5px 0 rgba(0, 0, 0, 0.5);
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.05);
}

/* Дополнительные стили для текста и кнопок */

.text {
  text-align: justify;
  font-size: 1.4rem;
  padding: 20px;
}

/* Стилізація випадаючих меню */
.link-container {
  position: relative;
  display: inline-block;
}

/* Стилізація лінків */
.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

/* Стилізація вікон */
.popup {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px #1ae44933;
  z-index: 1;
}

.link:hover {
  text-decoration: none;

}

/* Показ вікна при наведенні миші на контейнер */
.link-container:hover .popup {
  display: block;
  text-decoration: none;

}

/* Стилізація посилань у вікні */
.popup a {
  padding: 10px 20px;
  text-decoration: none;
  color: #232D3F;
  display: block;
}

.popup a:hover {
  border: 3px solid #232D3F;
  /* display: flex; */
  align-items: center;

}
